body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 350;
}
.experiences{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 3px;
    box-shadow: 10px 10px 40px 0px gray;
    border-radius: 10px;
    height:300px;
    width:1345px;
    
}

}
#power{
    /* background-image: url(images/image4.png);
    background-repeat: no-repeat; */
    margin-right: 200px;
}
#creative{
    /* background-image: url(images/image5.png);
    background-repeat: no-repeat; */
}
#rock{
    /* background-image: url(images/image8.png);
    background-repeat: no-repeat; */
}
.single-experience{
    box-shadow: 10px 10px 40px 0px gray;
    border-radius: 10px;
    height:300px;
    width:263px;
    padding-left: 13px;
    padding-right: 15px;
    padding-top: 15px;
    margin-right: 90px;

}
section{
    height: 400px;
    padding-bottom: 400px;
    padding-top: 50px;
}
.chat{
    /* background-image: url("images/New\ Project\ \(3\).png");
    background-repeat: no-repeat;
    background-position: center;  */
    padding-left: 250px;
    padding-top: 100px;
}
.link-butn{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 350;
    /* position: absolute; */
    margin-bottom: 200px;
    margin-top: -300px;
    

}
.chat{
    position: relative;

    margin: 0 auto;
}
.heading{
    color:white;
    position: absolute;
    top:17%;
    width: 40%;
    text-align: center;
}
